<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/noticias/:id']" [routerLinkActive]="['active']">Noticias</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>